html {
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: rgb(47, 58, 58);
    color: white;
    margin: 0 auto;
}
h1 {
    margin: 30px;
    margin-top: 50px;
}
.Select_Ambient_Temperature{
    margin: 30 px;
}
.Temp{
    margin: 30 px;
}
